h1{
    color:blueviolet;
}
h2{
    color: #333;
}

.exercicio{
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, button{
    margin: 5xp, 0;
    padding: 5px;

}

p {
    font-weight: bold;
}